/* basic body styles */
body {
  padding:0;
  margin:0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #000000;
}
a, a:visited {color:white;}
a:hover, a:active {color:gray;}
p {margin:0; padding:0.5em 0;}

/* utility classes */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.right {float:right;}
.center {text-align:center;}
.action {
  border:2px solid rgb(70, 175, 91);
  color:rgb(70, 175, 91);
  background-color:rgb(0, 34, 4);
  border-radius:0;
  margin:0;
  padding:0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:14px;
  line-height:28px;
  width:40px;
  height:32px;
}

/* styles */
#header {position:fixed; height:60px; top:0; left:0; z-index: 10;
  background-color: #000; width: 100%;}
#leaderbutton {width:40px;height:40px;border-radius:20px;font-size:20px;
  color:#000;line-height:40px;text-align:center;background:#fff; float:right;}
#scoretext {width:200px; margin-top:10px; text-align:right;}

#signup .center {margin-bottom:10px;}

#nav, #main {margin-left:auto; margin-right:auto; width:320px;}
#nav {margin-top:60px;}
#dots {font-weight:bold; font-size:14px;}

.textinput {
  text-align: center;
  border: none;
  background-color: black;
  border: 1px solid white;
  padding: 5px;
  border-radius: 0;
  font-size: 14px;
  width: 220px;
  height: 20px;
  color: rgb(70, 175, 91);
}
.slim.textinput {width:125px;}

.score {padding-right:3px; color:rgb(70, 175, 91); font-size:20px;}
#scoreboard {float:right; font-size:20px; padding:10px 10px 10px 0; margin:0;
  display:block; text-decoration:none;}

#gameboard {margin-left:10px; max-width:320px;}
#gameboard img {float:left; width:80px; margin:10px;}
#gameboard img.locked {opacity:0.3;}

.dialog {position:fixed; top:25%; left:0; height:33%; width:100%;
  background-color:black; color:white; z-index:30; overflow-y:auto;
  border-top:2px solid white; border-bottom:2px solid white;}
#leaderboard.dialog {top:10%; height:80%;}
.dialog .icon-remove {font-size: 20px; padding: 10px; float: right;}
.dialog .icon-remove:hover {cursor:pointer;}
#dialog_overlay {position:fixed; top:0; left:0; height:100%; width:100%; background-color:black;
  opacity:0.7; z-index:20;}

#leaderboard table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  margin:10px auto;
  text-align:center;
}
#leaderboard table td[class*="span"],
#leaderboard table th[class*="span"] {
  display: table-cell;
  float: none;
  margin-left: 0;
}
#leaderboard tr.me {border:1px solid rgb(70, 175, 91);}
#leaderboard td.rank, #leaderboard td.score {text-align:center; padding:0 5px;}
#leaderboard td.name {padding: 4px 40px; text-align:left;}

#challenge_prompt {margin-top:33px;}
.ch_img {float:left;}
.ch_img img {width:70px; padding:44px 10px 0 10px;}
.ch_text {float:left;}
